 h1{
        color: black;
        font-family: arial, verdana, sans-serif;
        font-size: 100px;
        font-weight: normal;
 }

 p{
       font-family: Georgia, 'Times New Roman', serif;
       line-height: 20px;
 }
