 h1{
        color: black;
        font-family: arial, verdana, sans-serif;
        font-size: 100px;
        font-weight: normal;
 }

 p{
       font-family: Georgia, 'Times New Roman', serif;
       line-height: 20px;
 }
 body{
       background-image: url(gambar1.jpeg);
       font-family: arial;
       font: 16px/28px arial, sans-serif
 }

 ul li a{
       color: orange;
 }

 ol li a{
       color: red;
 }
 

 .cointainer{
       width: 800px;
       margin: auto;

 } 
