body {
  min-height: 3000px;
}
.jumbotron {
  padding: 8rem;
  background-color: lightyellow;
}

#events {
  background-color: lightyellow;
  padding-top: 6rem;
  padding-bottom: 1rem;
}

#pendidikan {
  padding-top: 6rem;
}

section {
  padding-top: 5rem;
}

#tugas {
  background-color: lightyellow;
  padding-top: 6rem;
  padding-bottom: 1rem;
}
