body {
  min-height: 2000px;
}
.jumbotron {
  padding: 2rem 1rem;
  background-color: lightyellow;
}

#events {
  background-color: lightyellow;
  padding-top: 1rem;
}

.pendidikan {
  padding: 1rem;
}
