body {
  min-height: 1500px;
}
.jumbotron {
  padding: 8rem;
  padding-bottom: 3rem;
  background-color: lightblue;
}

#about {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

#events {
  background-color: lightblue;
  padding-top: 6rem;
  padding-bottom: 1rem;
}

section {
  padding-top: 5rem;
}

#fasilitas {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

#kontak {
  padding-top: 3rem;
  background-color: lightblue;
  padding-bottom: 3rem;
}
